@keyframes fadeInAnimation { /*Animation for fade-ins (objects need to have initial opacity set to 0 to work*/
    0% {opacity: 0;} 
    100% {opacity: 1;} 
}
@keyframes fadeInAnimationTitle { /*Animation for the main title fade-in*/
    0% {opacity: 0;
        transform: translateY(40px);} /*Moves the main title up slightly*/
    50% {opacity: 0.1;}
    80% {opacity: 0.6;}
    100% {opacity: 1;
        transform: translateY(0px);} 
} 
@keyframes fadeInAnimationVWW { /*Animation for the header video fade-in (100% opacity value changes the darkness of the video)*/
    0% {opacity: 0;}
    100% {opacity: 0.7;}
}
@keyframes setlistSwap { /*Animation to change the setlist organiser contents*/
    0% {opacity: 1;
        transform: translateX(0px)}
    45% {opacity: 0;
        transform: translateX(300px);}
    55% {opacity: 0;
        transform: translateX(-300px);}
    to {opacity: 1;
        transform: translateX(0px);}
}
@keyframes videoPre {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes videoPlay {
    0% {opacity: 0;}
    100% {opacity: 1;}
}