@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap'); /*Font importing*/
#contentMargin { /*Makes the formatting central*/
    opacity: 0;
    padding: 40px 18% 0px 18%; /* Top, right, bottom, left*/
    animation: fadeInAnimation ease-in 0.4s; /*triggers the fade-in animation; Slow start, takes # seconds to complete*/
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    overflow-x: hidden
}
button {
    transition: color 0.3s;
    text-shadow: 0px 0px 8px #9E9E9E;
    display: flex;
    margin: auto;
    justify-content: center;
    color: white;
    background-color: black;
    font-family: 'Cantata One', serif;
    text-transform: uppercase;
    border: none;
    position: relative;
    text-align: center;
    font-size: 18px;
    letter-spacing: 3px;
    cursor: pointer;
    outline: none;
}
#setlistContent b {text-shadow: 0px 0px 10px white;} /*Adds the glow for the bold parts*/

#setlistContent em {
    text-shadow: 0px 0px 8px white;
    font-size: 22px;
    letter-spacing: 3px;
    word-spacing: 0.5em;
}
#setlistContent { /*Formatting for the "About" tab content*/
    opacity: 1;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 4px;
    line-height: 2.1em;
    text-transform: uppercase;
    transform: scaleY(1.01); /*Slightly stretches the text vertically*/
    text-align: center;
    animation: setlistSwap ease-in-out 1s; /*triggers the fade-in animation; Slow start, takes # seconds to complete*/
    animation-iteration-count: infinite;
    animation-play-state: paused;
}
#hrMargin { /*Formatting for the line in the middle, making it central*/
    opacity: 0; /*To allow the fade-in animation, the initial opacity must be 0*/
    padding: 0 10% 4% 10%; /* Top, right, bottom, left*/
    animation: fadeInAnimation ease-in 0.4s; /*triggers the fade-in animation; Slow start, takes # seconds to complete*/
    animation-delay: 0.2;
    animation-fill-mode: forwards; /*Permanently sets the values of the last keyframe*/
}
hr { /*Formatting for the line in the middle*/
    padding-top: 36px;
    height: 1px;
    border: 0;
    border-bottom: 1px solid rgb(54, 54, 54);
    margin: 1em 0; /*First value sets the top and bottom, second the left and right*/
}
#topButton {
    padding-top: 22px;
    font-size: 18px
}
#topButton:hover {
    color: #9E9E9E;
}